<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    <style>
        .container{
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 40%;
            top: 30%

        }
        .boxgeral{
            width: 300px;
            height: 500px;
        }
    </style>


</head>


<body>
<div class="container boxgeral">
    <div>
        <h3 class="home flow-text">Cadastro de Pessoas</h3>
    </div>

    <div class="collection">

        <a href="pessoas/formulario-pessoa-fisica" class="collection-item ">Cadastrar Pessoa</a><br>
        <a href="pessoas/formulario-pessoa-juridica" class="collection-item ">Cadastrar Empresa</a><br>
        <a href="pessoas/list/pf" class="collection-item">Consultar Pessoas</a><br>
        <a href="pessoas/list/pj" class="collection-item">Consultar Empresas</a><br>
    </div>



</div>
<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="../static/materialize/js/materialize.js"></script>
</body>


</html>